* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background: #F1F1F1;
font-family: 'Poppins', sans-serif;
 -webkit-transition: .3s ease all;
  transition: .3s ease all;
}
body.dark {
  background: #111111;
}

.navbar{
display: flex;
align-items: center;
padding:20px;
}
nav {
  background: #FEFEFE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
          box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
}



body.dark nav {
  background: #222222;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

body.dark nav a {
  color: #C8C8C8;
}

body.dark nav a:hover {
  color: #FEFEFE;
}
nav .logotipo {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

nav .enlaces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .enlaces a {
  margin-right: 40px;
}
nav .enlaces a:hover {
  color: #707070;
}

nav{
flex: 1;
text-align: right;
}
nav ul{
display: flex;
list-style-type: none;
}
nav ul li a{
display: flex;
margin-right: 20px;
color: #000;
text-decoration: none;
font-size: 20px;
}
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
  }
  
  .nav-brand {
    width: 50px;
  }
  

  .nav-main ul {
    display: flex;
  }
  
  .nav-main ul li {
    padding: 10px;
  }
  
  .nav-main ul li  {
    padding: 2px;
  }
  
  .nav-main ul li :hover {
    border-bottom: 2px solid #fff;
  }
  
  .nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
  }
  
  hr {
    margin: 10px 0;
  }
.switch {
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
  background: orange;
  color: #000;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}



 p{
color: #555;
}

body.dark p{
color:#fff;
}
.imagen-about-us{
    width: 48%;
}

.container{
max-width: 1300px;
margin: auto;
padding-left: 25px;
padding-right: 25px;
}
.row{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-around;
}
.col-2{
flex-basis: 50%;
min-width: 300px;
}
.col-2 img{
margin: 20px;
max-width:100%;
padding: 50px 0;
border-radius: 6px;
cursor: pointer;
}
.col-2 img:hover{
    transform:scale(1.1);
    
}
.col-2 h1{
font-size: 50px;
line-height: 60px;
margin: 25px 0;
}
.col-2 p{
    margin: 15px 0;
    line-height: 21px;
    text-align: justify;
    text-justify: inter-word;
}
p{ margin: 15px 0;
    line-height: 21px;
    text-align: justify;
    text-justify: inter-word;
}

.btn{
display: inline-block;
background: #7114bd;
color: #fff;
padding: 8px 30px;
margin: 30px 0;
border-radius: 30px;
transition:  0.5s;
text-decoration: none;
}
.btn:hover{
background:#cf2222;
transform: scale(1.3);
}
body.dark .btn{
    background: #eb0909;
    color: #000;
}
.header .row{
margin-top: 70px;
}
iframe{
margin:30px;
}


body.dark  header {
  background: #222222;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);

}
body.dark .row{
color: #fff;
}


footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #ff523b;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #ccc;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }
    .navbar{
        flex-wrap: wrap;
    }
    .navbar ul li a{
       
        font-size: 15px;
    }
    nav{
        text-align: center;

        padding: 30px 0 0 0;
    }

    nav  a{
        font-size: 10px;
        margin-right: 5px;
    }


    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
}

@media screen and (max-width:500px){

nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav  a{
        font-size: 5px;
        margin-right: 5px;
    }
    

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }
iframe{
    width: 430px;
}
    /* Clients */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}





























